<table class="table text-center">
	<tr>
		<th class="text-center"><%= @state_type%></th>
	</tr>
	<% @state_array.each do |x| %>
	<tr>
		<td>
			<a href='/in?id=<%= x.geonameId %>'>
				<%= x.name %>
			</a>
		</td>
	</tr>
		
<%end%>
</table>