<!DOCTYPE html>
<html>
<head>
	<title>Layout test</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<a href="/">Home</a>
	<a href="">Test</a>
	<%=yield%>
</body>
</html>