.search-list{
	padding-right: 30px;
}

.form-control{
	border-radius: 20px;
}

.form-group button{
	border-radius: 50px;
}

.navbar{
	margin-bottom: 0px;
}

.search-list img{
	height: 40px;
	width: 40px;
}

.h1-align{
	margin-top: 15%;
}

.grey{
	color: #BDC3C7;
}