th{
	background-color: #337ab7;
	color: white;
}

.search-list{
	padding-right: 30px;
}

.form-control{
	border-radius: 20px;
	/*width: 80%;*/
	padding: 20px 25px;
}

.form-group button{
	border-radius: 50px;
	margin-top: 10px;
	padding-right:40px;
	padding-left: 40px
}

.navbar{
	margin-bottom: 0px;
}

.search-list img{
	height: 40px;
	width: 40px;
}

.h1-align{
	margin-top: 15%;
	margin-left: 20px;
}

.grey{
	color: #BDC3C7;
}

.search-name{
	border: 0px;
	background-color: transparent;
	color: #337ab7;
}

.smooth-edge{
	border-radius: 50px;
}